@(sprint: Sprint, title: String, employees: List[Employee], scrumMaster: ScrumMaster)

@templates.main(title) {
	<form action="@routes.SprintController.updateSprint()" method="POST">
	<input type="hidden" name="sprintid" value="@sprint.id" />
	<ul>
	<li><label>Name</label><input type="text" name="name" value="@sprint.name"></li>
	<li><label>Description</label><textarea name="description">@sprint.description</textarea></li>
	<li><label>Start Date</label><input type="text" name="start-date" value="@sprint.startDate.format("MM/dd/yyyy")" class="datepicker"></li>
	</ul>
	
	@if(sprint.id!=null) {
		<div>
		<table>
			<tr><th></th><th></th><th>Available SPs</th><th>Completed SPs</th></tr>
			@for(employeeSprint <- sprint.getEmployeeSprints()) {
			<tr>
					<td><a href="@routes.SprintController.removeEmployee(employeeSprint.sprint.id, employeeSprint.employee.id)">X</a></td> 
					<td>@employeeSprint.employee.firstName @employeeSprint.employee.lastName</td>
					<td><input type="text" name="employeesprint-@employeeSprint.id-storyPointsAvailable" value="@employeeSprint.storyPointsAvailable"></td>
					<td><input type="text" name="employeesprint-@employeeSprint.id-storyPointsCompleted" value="@employeeSprint.storyPointsCompleted"></td>
					<td><input type="text" name="employeesprint-@employeeSprint.id-numReopens" value="@employeeSprint.numReopens"></td>
			</tr>
			}
		</table>
		</ul>
		</div>
		}
		<input type="submit">
	</form>
	
	<div>
	<form action="@routes.SprintController.addEmployee()" name="add-employee-form" method="POST">
	<input type="hidden" name="sprint-id" value="@sprint.id">
	<select name="employee-id" onchange="document.forms['add-employee-form'].submit()">
		<option value="0">Add an employee to this sprint</option>
		@for(employee <- employees) {
			<option value="@employee.id">@employee.firstName @employee.lastName</option>
		}
	</select>
	</form>
	</div>
}