@(sprint: Sprint, scrumMaster: ScrumMaster, gitCommits: List[GitCommit], gitURL: String)

@templates.main("Git Commits for sprint "+sprint.name) {
	<h1>Git Commits for Sprint @sprint.name from @sprint.getFormattedStartDate() to @sprint.getFormattedEndDate()</h1>
	@for(gitCommit <- gitCommits) {
		<div style="margin-bottom: 10px; border: outset thin; background-color: #eee">
			<div style="float: left; width: 30%"><a href="@gitURL@gitCommit.commitId">@gitCommit.commitId</a><br/>
			@gitCommit.date<br/>
			@if(gitCommit.employee==null) {
			@gitCommit.commiterEmail
			} else {
			<a href="@routes.EmployeeController.editEmployee(gitCommit.employee.id)">@gitCommit.commiterEmail</a>
			}
			</div>
			<div style="float: right; width: 70%">@gitCommit.message</div>
			<div style="clear: both;"></div>
		</div>
	}
}