@(sprints: List[models.Sprint])

@templates.main("Sprints") {
	<ul>
	@for(sprint <- sprints) {
		@if(controllers.Authentication.isScrumMaster()) {<li><a href="@routes.SprintController.deleteSprint(sprint.id)"><i class="fa fa-trash-o"></i></a> } 
		<a href="@routes.SprintController.editSprint(sprint.id)">@sprint 
		@if(!utils.StringUtils.isEmpty(sprint.description)) { - @sprint.description } 
		- @sprint.getTotalStoryPointsCompleted() of @sprint.getTotalStoryPointsPromised() SPs</a>
		@if(sprint.locked) {
		<a href="@routes.SprintController.unlockSprint(sprint.id)"><i class="fa fa-lock"></i></a>	
		} else {
		<a href="@routes.SprintController.lockSprint(sprint.id)"><i class="fa fa-unlock"></i></a>	
		}
		</li>
		<li> - <a href="@routes.SprintController.gitCommits(sprint.id)">Git Commits</a></li>
	}
	</ul>
	
	@if(controllers.Authentication.isScrumMaster()) {
	<a href="@routes.SprintController.unlockAllSprints()"><i class="fa fa-unlock"></i>Unlock all sprints</a><br/>	
	<a href="@routes.SprintController.lockAllSprints()"><i class="fa fa-lock"></i>Lock all sprints</a><br/>	
	
	<a href="@routes.SprintController.editSprint(0)"><i class="fa fa-plus-square"></i>New Sprint</a>
	}
}