@(title: String, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>ScrumKPIs - @title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
		<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        @scripts
    </head>
    <body>
    <div id="navcontainer" class="navcontainer">
    <ul>
    <li><a href="@routes.SprintController.sprints()">Sprints</a></li>
    <li><a href="@routes.EmployeeController.employees()">Employees</a></li>
    <li>-</li>
    <li><a href="@routes.ConnectorController.listConnectors()">Connectors</a></li>
    <li><a href="@routes.ReportController.velocityChart()">Velocity</a></li>
    <li>-</li>
    <li><a href="@routes.Authentication.logout()">Logout</a></li>
    </ul>
    <hr/>
    </div>
    
    <div id="content" class="content">
        @content
    </div>
    </body>
    
	<script>
		$(function() {
			$( ".datepicker" ).datepicker();
		});
	</script>
</html>
