@(employee: models.Employee, title: String, employeeSprints: List[EmployeeSprint], gitCommits: List[GitCommit], gitURL: String)

@scripts = {
	<script src="@routes.Assets.at("javascripts/Chart.min.js")" type="text/javascript"></script>
	
	<script>
		var rawChartData = {
		labels : [@for(employeeSprint <- employeeSprints) {
			"Sprint @employeeSprint.sprint.name",
		}],
		datasets : [
			{
				label : "Points Completed",
				fillColor : "rgba(220,110,110,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : [@for(employeeSprint <- employeeSprints) {
					@employeeSprint.storyPointsCompleted,
				}]
			},
			{
				label : "Points Promised",
				fillColor : "rgba(110,220,110,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : [@for(employeeSprint <- employeeSprints) {
					@employeeSprint.storyPointsAvailable,
				}]
			}
			]
		}

		var percentChartData = {
				labels : [@for(employeeSprint <- employeeSprints) {
					"Sprint @employeeSprint.sprint.name",
				}],
				datasets : [
					{
						label : "Points Completed",
						fillColor : "rgba(220,110,110,0.5)",
						strokeColor : "rgba(220,220,220,0.8)",
						highlightFill: "rgba(220,220,220,0.75)",
						highlightStroke: "rgba(220,220,220,1)",
						data : [@for(employeeSprint <- employeeSprints) {
							@((employeeSprint.storyPointsCompleted*100)/employeeSprint.storyPointsAvailable),
						}]
					}
					]
				}


		window.onload = function(){
		var velocityRawCanvas = document.getElementById("velocity-raw-canvas").getContext("2d");
		window.myBar = new Chart(velocityRawCanvas).Bar(rawChartData, {
			responsive : true
		});
		var velocityPercentCanvas = document.getElementById("velocity-percent-canvas").getContext("2d");
		window.myBar = new Chart(velocityPercentCanvas).Bar(percentChartData, {
			responsive : true
		});
	}
	</script>
}

@templates.main(title, scripts) {
<form action="@routes.EmployeeController.updateEmployee(employee.id)" method="POST">
	<div>
	<ul>
	<li><label for="first-name">First Name</label><input type="text" name="first-name" value="@employee.firstName"></li>
	<li><label for="last-name">Last Name</label><input type="text" name="last-name" value="@employee.lastName"></li>
	<li>
		@if(flash.get("error-email") != null) {
			<span style="color: red" title="">*@flash.get("error-email")</span> 
		}
		<label for="email">Email</label><input type="text" name="email" value="@employee.email">
	</li>
	<li><label for="jira-id">Jira ID</label><input type="text" name="jira-id" value="@employee.jiraID"></li>
	<label for="story-points">Default Velocity (in story points per sprint)</label><input type="text" name="story-points"  value="@employee.defaultStoryPointsPerSprint">
	<li><label for="description">Description</label><textarea name="description">@employee.description</textarea></li>
	<li><input type="submit"></li>
	</ul>
	</div>
</form>

<div>
		<div style="width: 40%; float: left">
			<h3>Story Points Promised vs. Completed</h3>
			<canvas id="velocity-raw-canvas" height="750" width="800"></canvas>
		</div>
		
		<div style="width: 40%; float: right">
			<h3>Percentage of Points Completed</h3>
			<canvas id="velocity-percent-canvas" height="750" width="800"></canvas>
		</div>
		<div style='clear: both;'></div>
</div>		

<div>
<h3>Git Commits</h3>
	@for(gitCommit <- gitCommits) {
		<div style="margin-bottom: 10px; border: outset thin; background-color: #eee">
			<div style="float: left; width: 30%">
			<a href="@routes.SprintController.editSprint(gitCommit.sprint.id)">Sprint: @gitCommit.sprint.name</a><br/>
			<a href="@gitURL@gitCommit.commitId">@gitCommit.commitId</a><br/>
			@gitCommit.date<br/>
			</div>
			<div style="float: right; width: 70%">@gitCommit.message</div>
			<div style="clear: both;"></div>
		</div>
	}
</div>
}