@(bookmarks: List[net.rcarz.jiraclient.Issue])

@scripts = {
	<script>
	function openIssue() {
		var issueId = $("#issue-id").val();
		if (!issueId || issueId=="") {
			return false;
		}
		
		window.location="/jira/"+issueId;
		return false;
	}
	</script>
}

@templates.main("Jira Issues", scripts) {

<form onsubmit="return openIssue()">
<input type="text" name="issue-id" id="issue-id" placeholder="Enter a issue" onchange="return openIssue()">
<input type="submit" value="Open Ticket"/>
</form>

@if(bookmarks!=null && bookmarks.size()>0) {
	<div>
	<h2>Bookmarked Issues</h2>
	<ul>
	@for(bookmark <- bookmarks) {
	<li><a href="@routes.JiraController.issue(bookmark.getKey())">@bookmark.getKey()</a> - @bookmark.getSummary()</li>
	}
	</ul>
	</div>
	}
}