@(issue: net.rcarz.jiraclient.Issue, employee: Employee)
@templates.main("Jira Issue ") {
<h2>@issue.getSummary()
@if(employee.isBookmark(issue.getKey())) {
<a href="@routes.JiraController.removeBookmark(issue.getKey())"><i class="fa fa-bookmark" title="Remove Bookmark"></i></a>
} else {
<a href="@routes.JiraController.addBookmark(issue.getKey())"><i class="fa fa-bookmark-o" title="Bookmark"></i></a>
}
</h2>
<div>
<ul>
<li><label>Author: </label>@issue.getReporter().getDisplayName() - @issue.getReporter().getEmail()</li>
<li><label>Assigned To: </label>@issue.getAssignee()</li>
<li><label>Status: </label>@issue.getStatus().getName()</li>
</ul>
</div>
<div>
@issue.getDescription()

</div>

<h3>Comments</h3>
<div>
	@for(comment <- issue.getComments()) {
		<div style="margin-bottom: 10px; border: outset thin; background-color: #eee">
			<label>@comment.getAuthor().getDisplayName()</label>
			@comment.getBody()<br/>
		</div>
	}
	<br/>	
</div>

@if(issue.getSubtasks().size()>0) {
<h3>Subtasks</h3>
<div>
	@for(subTask <- issue.getSubtasks()) {
		<label><a href="@routes.JiraController.issue(subTask.getKey())">@subTask.getKey()</a>:</label>
		@subTask.getSummary()<br/>
	}
</div>
}

@if(issue.getIssueLinks().size()>0) {
	<h3>Related Issues</h3>
	<div>
		@for(issueLink <- issue.getIssueLinks()) {
			@if(issueLink.getOutwardIssue() != null) {
				<label><a href="@routes.JiraController.issue(issueLink.getOutwardIssue().getKey())">@issueLink.getOutwardIssue().getKey()</a></label>
				@issueLink.getOutwardIssue().getSummary()<br/>
			}
			@if(issueLink.getInwardIssue() != null) {
				<label><a href="@routes.JiraController.issue(issueLink.getInwardIssue().getKey())">@issueLink.getInwardIssue().getKey()</a></label>
				@issueLink.getInwardIssue().getSummary()<br/>
			}
		}
		<br/>	
	</div>
}
}